:root {
  --font_size_max_desktop: 20pt;
  --font_size_max_mobile: 20pt;
  --font_size_more_desktop: 14pt;
  --font_size_more_mobile: 14pt;
  --font_size_medium_desktop: 12pt;
  --font_size_medium_mobile: 12pt;
  --font_size_small_desktop: 10pt;
  --font_size_small_mobile: 10pt;

  --color-link: #00376b;

  --thin: 300;
  --bold: 500;
}
.pointer:hover {
  cursor: pointer;
}
.flex-align-justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.direct-message {
  height: 100%;
  width: 100%;
}
.direct-message > .panel {
  width: 94%;
  height: 85vh;
  max-width: 930px;
  border: 1px solid #ddd;
  background-color: red;
}
