.feed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.feed h1 {
  font-size: 1.7rem;
}
.feed-text {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.feed-text h2 {
  font-size: 1rem;
  margin-right: 1rem;
}
.main-posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 12px;
}
.post-box {
  width: 300px;
}
.post-box img {
  width: 100%;
  height: 344px;
  object-fit: cover;
  border-radius: 0.5rem;
}
.post-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4px;
}
.post-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: 2px solid #e2336b;
  border-radius: 50%;
}
.post-img img {
  width: 27px;
  height: 27px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
}
.post-profile {
  display: flex;
  align-items: center;
}
.post-profile h3 {
  font-size: 12px;
  font-weight: 600px;
  margin-left: 5px;
}
.likes {
  display: flex;
  align-items: center;
}
.likes i {
  font-size: 20px;
  margin-left: 10px;
}
.likes span {
  font-size: 14px;
  margin-left: 7px;
}
