@media (min-width: 768px) {
  .menu-ant {
    display: none !important;
  }
  .search {
    display: flex;
    align-items: center;
    background: #f8f8f8;
    width: 280px;
    height: 2.4rem;
    padding: 10px;
    border-radius: 10px;
  }
  .menu-mobile {
    display: none;
  }
  .search input {
    min-width: 280px;
    background-color: transparent !important;
    border: 0 !important;
    outline: 0 !important;
  }
  .btn-search-mobile,
  .btn-logout-mobile {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .btn-text {
    display: none;
  }
  .menu-mobile {
    display: flex;
  }
  .search {
    display: none;
  }
  .header-content {
    display: none !important;
  }
  .btn-search-mobile,
  .btn-logout-mobile {
    display: block;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    outline: 0;
    border: 0;
    background-color: transparent;
  }
  .btn-search-mobile {
    margin-right: auto;
  }
  .btn-logout-mobile {
    margin-left: auto;
    margin-right: 2vw;
  }
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  /* border-bottom: 0.005rem solid #dedede; */
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 7px;
}

.logo {
  height: 32px;
  margin-left: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  padding-left: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.search input {
  background: transparent;
  margin-left: 7px;
  border: 0 !important;
  outline: 0 !important;
}
.search o {
  font-size: 20px;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-content i {
  color: #000;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.4rem;
  cursor: pointer;
}
.header-content .btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-content .btn i {
  margin-right: 10px;
}
.header-content .user-avatar {
  text-decoration: none;
  color: black;
}
.header-content .user-avatar .avatar-container {
  position: relative;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  overflow: hidden;
  padding: 0 !important;
}
.header-content .user-avatar .avatar-container:hover {
  border-spacing: 0.2rem;
}
.header-content .user-avatar .avatar-container > img {
  width: inherit;
  height: inherit;
  margin: 0;
  object-fit: cover;
  border-radius: 50%;
}
.ant-dropdown-menu > li {
  padding-right: 100px;
}
.ant-dropdown-menu hr {
  border: 1px solid #eee;
}
.ant-dropdown-menu-title-content i {
  padding-top: 1rem;
}
.open-canvas {
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 1.2rem;
  margin-right: 3vw;
  cursor: pointer;
  user-select: none;
}
