@import "~antd/dist/antd.less";
@import "~antd/lib/style/themes/default.less";
@primary-color: #000000;
@link-color: #000000; // link color

.ant-drawer-content {
  height: 100%;
}

.layout-content {
  padding-left: 1rem;
  background: #ffffff;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  background: #f8f8f8;
}
body > .move-content-down {
  padding-bottom: calc(1rem + 1rem + 1.4rem);
  width: 100%;
}
a {
  color: #000000 !important;
  text-decoration: none;
}
.ant-btn:hover {
  color: black !important;
  border-color: black !important;
}
.ant-btn:focus {
  color: black !important;
  border-color: black !important;
}

// .content {
//   width: calc(100vw - 280px);
//   align-content: right;
// }

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

:root {
  --gradient: linear-gradient(135deg, #fc466b 0%, #3f5efb 100%);
}
